<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LLTimerTableView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>75A3B4EA1F0C87840008DACE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75A3B5031F0C87840008DACE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75A3B50E1F0C87840008DACE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
